/*
Dir is commentaar over meerdere lijnen


*/

/*Volgorde van belangrijkheid: 1 INLINE, 2 INTERNAL (in style in head), 3 EXTERNAL, 4 DEFAULT*/

body {
  background-color: darksalmon;
  border: red;
  border-width: 5px;
  border-style: dotted;

  background-image: url("images/jpg/pattern.avif");
  background-repeat: no-repeat;
  background-position: right top;

  background: linear-gradient(#e66465, #9198e5);
}

p {
  color: aqua;
  font-weight: bold;
}

/*elementen groeperen*/
h1,
h2,
h3 {
  text-align: center;
  color: fuchsia;
}

.voorbeeld2 {
  color: darkblue;
}

div.voorbeeld3 {
  text-align: right;
}
p#lente {
  color: chartreuse;
}

a:link, a:visited{
  color: green;
}

a:hover{
  color: greenyellow;
}

a:active{
  color: blue;
}